{
    "env": {
        "browser": true,
        "es6": true
    },
    "overrides": [
        {
            "files": ["*.jsx", "*.js"]
        }
    ],
    "extends": [
        "plugin:@wordpress/eslint-plugin/recommended"
    ],
    "ignorePatterns": ["webpack.common.js", "webpack.dev.js", "webpack.prod.js", "dist/", "vendor/"]
}
