.*                 export-ignore
*.json             export-ignore
composer.lock       export-ignore
phpunit.xml.dist   export-ignore
README.md          export-ignore
webpack.*.js       export-ignore
assets/js          export-ignore
assets/scss        export-ignore
vendor             export-ignore
node_modules       export-ignore
.gitignore          export-ignore