#unofficial-convertkit-admin {

	.breadcrumbs {
		padding: 1em 0;
		margin-bottom: 1em;
		border-bottom: 1px solid #ccc;

		ul {
			margin: 0;

			> li {
				display: inline;

				&:not(:last-child):not(:first-child)::after {
					content: "\203A";
				}
			}
		}
	}

	.status-message {
		color: #8b0000;
		margin-left: 0.5em;
	}

	.status-indicator {
		font-weight: 700;
		color: #fff;
		padding: 0.3em;
		text-transform: uppercase;

		&.error {
			background-color: #8b0000;
		}

		&.success {
			background-color: #006400;
		}

		&.neutral {
			background-color: #535353;
		}
	}

}

#uck-debug-log {
	font-family: monaco, monospace, courier, "courier new", "Bitstream Vera Sans Mono";
	font-size: 13px;
	resize: vertical;
	line-height: 140;
	min-height: 400px;
	height: 400px;
	padding: 6px;
	border: 1px solid #ccc;
	background: #262626;
	overflow-y: scroll;
	color: #fff;
	width: 100%;

	.log {
		margin: 0;

		&.empty {
			color: #ccc;
			font-style: italic;
		}

		.level {
			color: #35aecd;
		}

		.time {
			color: #b58900;
		}

		.message {
			color: #fff;
		}
	}
}
