#unofficial-convertkit-admin {
	.breadcrumbs {
		padding: 1em 0;
		margin-bottom: 1em;
		border-bottom: 1px solid #ccc;

		ul > li {
			display: inline;

			&:not(:last-child):not(:first-child)::after {
				content: '\203A';
			}
		}
	}
}
