#unofficial-convertkit-admin {
	.breadcrumbs {
		padding: 1em 0;
		margin-bottom: 1em;
		border-bottom: 1px solid #ccc;

		ul {
			margin: 0;

			> li {
				display: inline;

				&:not(:last-child):not(:first-child)::after {
					content: '\203A';
				}
			}
		}
	}

	.status-indicator {
		font-weight: 700;
		color: #fff;
		padding: 0.3em;

		&.error {
			background-color: #f00;
		}

		&.success {
			background-color: #006400;
		}

		&.neutral {
			background-color: #808080;
		}
	}
}
